body{
    color: white;
   background-color: black;
   font-family: 'Lucida Sans'
   , 'Lucida Sans Regular', 
   'Lucida Grande',
    'Lucida Sans Unicode', 
   Geneva, Verdana, sans-serif;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}